# Swap files
*.swp

# Avoid tracking sensitive files for GnuPG
gpg/.gnupg/
!gpg/.gnupg/*.conf

# Tracking the history and tagged files/directories is pointless
ranger/.config/ranger/history
ranger/.config/ranger/tagged
